@import './components/mixins/mixins.scss';

#root{
  width: 100%;
}

.App{
  font-family: "Comic Sans MS", cursive, sans-serif;
  width: 100%;
  text-align: center;
  
  .homeContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    h1 {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      border: 5px solid red;
      border-radius: 5rem;
      padding: 1rem;
      width: 25rem;
      color: red;
      margin-bottom: 0;
      background-color: #FFFFFF;
      text-shadow: 1px 1px 2px black;
    
  }

    h4{
      margin-top: 1rem;
    }
    
    button{
      border: 5px solid red;
      border-radius: 5rem;
      padding: .5rem;
      font-size: 1.5rem;
      width: 40%;
      background-color: gray;
      color: red;
      text-shadow: 1px 1px 2px black;
      margin-top: 10rem;
      background-color: #FFFFFF;
    }
  }

  .gameSeries{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1rem;
  }

  .categoryHeader {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    #marioImg{
      width: 10%;
    }

    #pressMe{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      width: 25%;
      height: 20%;
      padding: 1rem;
      
      animation: fadeInLeft 1s infinite;
      
      h1{
        font-size: 3rem;
        text-shadow: 4px -2px 0px black;
        color: #FF0000;
      }
      
      img{
        width: 25%;
        text-shadow: 4px -2px 0px black;
      }
    }
  }


  #cardTitle{
    width: 25%;
  }

  .cardContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    .amiiboCard{
      background-color: rgba(255, 255, 255, 0.7);
      // border: 1px solid red;
      border-radius: 1rem;
      width: 20%;
      margin: 1rem;
      box-shadow: 5px 5px 15px;

      img {
        width: 50%;
      }
    }
  }
}