@import './components/mixins/mixins.scss';

#root{
  width: 100%;
}

.App{
  font-family: "Comic Sans MS", cursive, sans-serif;
  width: 100%;
  text-align: center;
  
  .homeContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    h1 {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      border-radius: 5rem;
      padding: 1rem;
      width: 25rem;
      color: red;
      margin-bottom: 0;
      background-color: #FFFFFF;
      text-shadow: 1px 1px 2px black;
      box-shadow: 1px 1px 2px black;
    
  }

    h4{
      margin-top: 1rem;
      background-color: #FFFFFF;
      border-radius: 5rem; 
      padding: .5rem 1rem;
      box-shadow: 1px 1px 2px black;
    }
    
    button{
      border-radius: 5rem;
      padding: .5rem;
      font-size: 1.5rem;
      width: 30%;
      background-color: gray;
      color: red;
      text-shadow: 1px 1px 2px black;
      margin-top: 20rem;
      background-color: #FFFFFF;
      box-shadow: 1px 1px 2px black;

      &:hover {
        transform: scale(1.1);
        transition: all .2s ease-in-out;
      }
      transition: all .2s ease-out;
    }
  }

  .gameSeries{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1rem;

    a {
      @include buttons;
    }

    #superMarioBros{
      background-image: url('./components/Series/images/superMarioBros/smb-button.jpg');
      background-size: cover;
      background-position: .4rem;
      background-color: #FF0000; 
    }

    #eightBitMario{
      background-image: url('./components/Series/images/8-Bit-Mario/smb-button.png'); 
      background-size: cover;
      background-size: 70%;
      background-position: 1rem;
    }

    #superSmashBros{
      background-image: url('./components/Series/images/SMB/smb-button.jpg'); 
      background-size: cover;
      background-size: 80%;
      background-position: 1rem;
    }

    #yoshiWoollyWorld{
      background-image: url('./components/Series/images/Yoshi-wolly-world/yww-button.png'); 
      background-size: cover;
      background-position: 1rem;
    }
    
    #skylanders{
      background-image: url('./components/Series/images/Skylanders/skylanders-button.jpg'); 
      background-size: cover;
      background-position: .5rem;
    }
    
    #legendOfZelda{
      background-image: url('./components/Series/images/Zelda/Zelda-button.png'); 
      background-size: cover;
      background-position: .1rem -4rem;
      
    }
    #animalCrossing{
      background-image: url('./components/Series/images/Animal-Crossing/AC-button.png'); 
      background-size: cover;
      background-position: .5rem;
      
    }
    #metroid{
      background-image: url('./components/Series/images/Metroid/metroid-button.png'); 
      background-size: 90%;
      background-position: -1rem -1.5rem;
      
    }
    #splatoon{
      background-image: url('./components/Series/images/splatoon/splatoon-button.jfif'); 
      background-size: cover;
    }
    #marioSportsSuperstars{
      background-image: url('./components/Series/images/mario-sports-superstars/mss-button.jpg'); 
      background-size: cover;
      background-position: .1rem;
      
    }
    #pokemon{
      background-image: url('./components/Series/images/Pokemon/pokemon-button.jpg'); 
      background-size: cover;
      background-position: .1rem -4.5rem;
      
    }
    #kirby{
      background-image: url('./components/Series/images/Kirby/kirby-button.png'); 
      background-size: cover;
      background-position: .1rem -4rem;
      
    }
    #boxBoy{
      background-image: url('./components/Series/images/boxboy/bb-button.webp'); 
      background-size: 70%;
      background-position: 2rem .1rem;
    }
    #fireEmblem{

    }
    #chibiRobo{

    }
    #megaMan{

    }
    #monsterHunter{

    }
    #shovelKnight{

    }
    #pikmin{

    }
    #mblPowerPros{

    }
    #diablo{

    }
    #others{

    }
  }

  .categoryHeader {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    #marioImg{
      width: 10%;
    }

    #pressMe{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      width: 25%;
      height: 20%;
      padding: 1rem;
      animation: fadeInLeft 2s infinite;
      
      h1{
        font-size: 3rem;
        text-shadow: 4px -2px 0px black;
        color: white;
      }
      
      img{
        width: 25%;
        text-shadow: 4px -2px 0px black;
      }
    }
  }


  #cardTitle{
    width: 25%;
  }

  .cardContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    .amiiboCard{
      background-color: rgba(255, 255, 255, 0.7);
      // border: 1px solid red;
      border-radius: 1rem;
      width: 20%;
      margin: 1rem;
      box-shadow: 5px 5px 15px;

      img {
        width: 50%;
      }
    }
  }
}