html{
  display: flex;
  justify-content: center;
  background-image: url('https://images6.alphacoders.com/860/thumb-1920-860645.png');
  height: 100%;
  margin: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  scroll-behavior: smooth;
  background-attachment: fixed;
}

body {
  margin: 0;
  font-family: "Comic Sans MS", cursive, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: transparent;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
