html{
  display: flex;
  justify-content: center;
  background-image: url('https://www.logolynx.com/images/logolynx/c1/c1441f08e551fe8ac59c326c14b6aa94.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40%;
  background-color: #ED1B2F;
  scroll-behavior: smooth;
  background-attachment: fixed;
}

body {
  margin: 0;
  font-family: "Comic Sans MS", cursive, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: transparent;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
