html{
  display: flex;
  justify-content: center;
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: "Averia Gruesa Libre";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: transparent;

}
