@import './mixins/mixins.scss';
@import './keyframes/keyframes.scss';

.homeContainer{
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: red;
    height: 100%;
    box-shadow: inset 1px 1px 20px rgba(0, 0, 0, 0.548);

    @media (max-width: 500px){
      width: 100%;  
    }

    h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        width: 100vw;
        color: red;
        background-color: #FFFFFF;
        text-shadow: 2px 2px 2px black;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.384);
    
        @media (max-width: 500px){
        width: 100%;
        padding: 1rem 0;
        }

    }

    button{
        position: absolute;
        z-index: 0;
        font-family: "Averia Gruesa Libre";
        border-radius: 5rem;
        border: none;
        padding: .5rem;
        font-size: 1.5rem;
        width: 15%;
        height: 8%;
        background-color: gray;
        color: black;
        font-weight: bold;
        background-color: rgb(240, 240, 240);
        box-shadow: 1px 1px 2px black;
        @include grow;
    
        @media (max-width: 500px){
          width: 75vw;
          padding: 1rem 0;
        }
      }

      #homeDescription{
          font-size: 18px;
          font-weight: bold;
          margin: 0px;
          text-decoration: underline;
          animation: fadeInGrow 2s;
      }

    #life {
        position: absolute;
        bottom: -30px;
        right: -55px;
        transform: rotate(-30deg);
        width: 300px;
        height: 300px;
        animation: fadeInUp 2s;
    }
    #smallerLife {
        position: absolute;
        z-index: 0;
        left: 20px;
        top: 150px;
        transform: rotate(30deg);
        width: 100px;
        height: 100px;
        animation: fadeInUp 2s;
    }
    
    #background{
        position: relative;
        bottom: 250px;
        z-index: 1;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        width: 40%;
        height: 30%;
        box-shadow: 1px 1px 10px rgba(0,0,0,.5);
        animation: fadeInGrow 2s;
    }

    #mario{
        position: absolute;
        right: 50px;
        top: 50px;
        width: 300px;
        height: 300px;
        animation: fadeInUp 2s;
    }
    #clouds{
        position: absolute;
        right: -100px;
        top: -100px;
        width: 700px;
        height: 400px;
        opacity: .9;
        animation: fadeInUp 2s;
    }
    #pikmin{
        position: absolute;
        z-index: 1;
        left: 0px;
        bottom: -20px;
        width: 200px;
        height: 200px;
        animation: fadeInUp 2s;
    }
    #link{
        position: absolute;
        z-index: 2;
        bottom: -40px;
        left: 300px;
        width: 400px;
        height: 400px;
        animation: fadeInUp 2s;
    }
    #zelda{
        position: absolute;
        z-index: 1;
        bottom: -100px;
        left: 400px;
        width: 300px;
        height: 400px;
        animation: fadeInUp 2s;
    }
    #ganon{
        position: absolute;
        bottom: 150px;
        left: 130px;
        width: 300px;
        height: 300px;
        animation: fadeInUp 2s;
    }
    #samus{
        position: absolute;
        z-index: 0;
        left: 250px;
        top: 0px;
        width: 300px;
        height: 300px;
        animation: fadeInUp 2s;
    }
    #sonic{
        position: absolute;
        z-index: 1;
        right: 450px;
        bottom: -40px;
        width: 300px;
        height: 300px;
        animation: fadeInUp 2s;
    }
    #tails{
        position: absolute;
        z-index: 0;
        right: 350px;
        bottom: 100px;
        width: 200px;
        height: 200px;
        animation: fadeInUp 2s;

    }
    #pokeball{
        position: absolute;
        transform: rotate(-20deg);
        z-index: 0;
        top: -40px;
        right: 500px;
        width: 200px;
        height: 200px;
        animation: fadeInUp 2s;
    }
}